*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-width: 100vh;
    background-color:rgba(255, 255, 255, 0.425) ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.container{
    height:450px;
    width:300px;
    box-shadow: 4px 4px 30px rgba(143, 135, 135, 0.863);
    background: #fff;
    border-radius: 8px;
    overflow-y: scroll;
}

.container::-webkit-scrollbar{
    display: none;
}

.container form{
    width:100%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container form input{
    border:none;
    outline: none;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
    
}

.container form i{
    padding:8px 0px 8px 10px;
}

.product img{
    height:40px;
    width: 40px;
    border-radius: 10px;
    padding :4px 4px;
}

.product-list{
    padding: 20px 0;
}

.product{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}

.product p-detail{
    display: flex;
    flex-direction: column;
}
